## ``time``

Esta libreria proporciona varias funciones relacionadas con el tiempo.

In [ ]:
import time

In [ ]:
# Regresa el número de segundos pasados, utilizando el formato Time Unix
# Formato Time Unix: el número de segundos que han pasado desde el 1 de Enero de 1970

time.time()

In [ ]:
# Toma como parametro de entrada una fecha en formato Time Unix
# Retorna un string representando esa fecha

hoy = time.time()

time.ctime(hoy)

In [ ]:
# Toma como argumento un número entero
# Esta función detiene la ejecución por X segundos (X un número entero o decimal)

time.sleep(5)

# Detiene la celda 5 segundo

print("Hola mundo!")

## ``datetime``
Este módulo contiene funciones para hacer análisis, formateo y aritmética con fechas y hora.

**Propiedades de los objetos ``datetime``:**
- Los objetos son inmutables.
- Los objetos pueden ser utilizados como llave en un diccionario. 
- Son eficientes para ser almacenados utilizando el módulo pickle. 
- Los objetos de tipo **``date``** y **``datetime``** pueden almacenar un año mínimo de 1 y máximo de 9999.

In [ ]:
import datetime

In [ ]:
# Con datetime.datetime.now() sacamos la hora y fecha de este momento
# Si nos fijamos, se crea un objeto datetime.datetime()

datetime.datetime.now()

In [ ]:
# Usando print() se cambia el formato de vista

print(datetime.datetime.now())

In [ ]:
datetime_object = datetime.datetime.now()

datetime_object

In [ ]:
print("Año:", datetime_object.year)

print("Mes:", datetime_object.month)

print("Dia:", datetime_object.day)

print("Hora:", datetime_object.hour)

print("Minuto:", datetime_object.minute)

print("Segundos:", datetime_object.second)

print("Microsegundos:", datetime_object.microsecond)

### De objeto ``datetime`` a ``str``

Usando el método **``.strftime()``** podemos aplicar el formato que queramos a las fechas.

In [ ]:
# string from time

from datetime import datetime

now = datetime.now()

print(now)

In [ ]:
type(now)

In [ ]:
# En este ejemplo, con .strftime() solo sacamos la hora

string = now.strftime("%H:%M:%S")

print(string)

In [ ]:
type(string)

In [ ]:
# En este ejemplo cambiamos la forma en la que imprime la fecha y agregamos una coma

string = now.strftime("%y/%m/%d, %H:%M:%S")

print(string)

In [ ]:
# Y podemos hacer el formato que queramos

string = now.strftime("%m/%d/%y, %H:%M:%S")

print(string)

**href**: _https://strftime.org/_

|Code    |Example                 |Description                                                                                |
|--------|------------------------|-------------------------------------------------------------------------------------------|
| **%a** | Sun                    |	Weekday as locale’s abbreviated name.                                                     |
| **%A** | Sunday                 |	Weekday as locale’s full name.                                                            |
| **%w** | 0                      |	Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.                         |
| **%d** | 08                     |	Day of the month as a zero-padded decimal number.                                         |
| **%b** | Sep                    |	Month as locale’s abbreviated name.                                                       |
| **%B** | September              |	Month as locale’s full name.                                                              |
| **%m** | 09                     |	Month as a zero-padded decimal number.                                                    |
| **%y** | 13                     |	Year without century as a zero-padded decimal number.                                     |
| **%Y** | 2013                   |	Year with century as a decimal number.                                                    |
| **%H** | 07                     |	Hour (24-hour clock) as a zero-padded decimal number.                                     |
| **%I** | 07                     |	Hour (12-hour clock) as a zero-padded decimal number.                                     |
| **%p** | AM                     |	Locale’s equivalent of either AM or PM.                                                   |
| **%M** | 06                     |	Minute as a zero-padded decimal number.                                                   |
| **%S** | 05                     |	Second as a zero-padded decimal number.                                                   |
| **%f** | 000000                 |	Microsecond as a decimal number, zero-padded on the left.                                 |
| **%z** | +0000                  |	UTC offset in the form ±HHMM[SS[.ffffff]] (empty string if the object is naive).          |
| **%Z** | UTC                    |	Time zone name (empty string if the object is naive).                                     |
| **%j** | 251                    |	Day of the year as a zero-padded decimal number.                                          |
| **%U** | 36                     |	Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. All days in a new year |preceding the first Sunday are considered to be in week 0.|
| **%W** | 35                     |	Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the |first Monday are considered to be in week 0.           |
| **%c** | Sun Sep 8 07:06:05 2013|	Locale’s appropriate date and time representation.                                        |
| **%x** | 09/08/13               |	Locale’s appropriate date representation.                                                 |
| **%X** | 07:06:05               |	Locale’s appropriate time representation.                                                 |
| **%%** | %                      |	A literal '%' character.                                                                  |

### De string a objeto datetime

Usando la función **``.strptime()``** podemos transformar un **``str``** a formato **``datetime``**.

**Esta función recibe 2 argumentos:**
1. Un string con fecha y hora
2. El formato en el que esta escrito la cadena

**Ejemplo:**

In [ ]:
# string parse time

date_string = "31 January, 2022"
print(date_string)

In [ ]:
type(date_string)

In [ ]:
date_object = datetime.strptime(date_string, "%d %B, %Y")

date_object

In [ ]:
print(date_object)

### Objeto ``time`` de ``datetime``

Con el objeto **``time``** de **``datetime``** podemos usar un objeto que solo maneja tiempos.

In [ ]:
from datetime import time

In [ ]:
# Para inicializar un objeto time, si no ponemos argumentos, se inicializa en 0
# Todos los argumentos son opcionales

objeto_time = time()

objeto_time

In [ ]:
# Podemos inicializarlo con diferentes valores

objeto_time = time(hour = 20, minute = 10, second = 50, microsecond = 1345)

objeto_time

In [ ]:
# Al igual con datetime.datetime() el formato cambia cuando hacemos print()

print(objeto_time)

Con esta clase, podemos usar **``.strftime()``** para darle el formato que queramos al tiempo.

In [ ]:
objeto_time.strftime("%H:%M:%S %p")

### Objeto ``date`` de ``datetime``

Con el objeto **``date``** de **``datetime``** podemos usar un objeto que solo maneja fechas.

In [ ]:
from datetime import date

In [ ]:
# Para inicializar un objeto date, debemos darle año, mes y día
objeto_date = date(year = 2022, month = 1, day = 1)

objeto_date

Con esta clase, podemos usar **``.strftime()``** para darle el formato que queramos a la fecha.

In [ ]:
date.today().strftime("%Y")

In [ ]:
date.today().strftime("%Y-%m-%d")

### Objeto ``datetime`` de ``datetime``

Esta clase se usa para craer objetos que tenga fechas, horas, minutos y segundos.

In [ ]:
from datetime import datetime

# Al ejecutar esta celda, hemos sobreescrito el nombre datetime
# Ahora datetime hará referencia a la clase y no a la libreria

In [ ]:
datetime.now()

In [ ]:
# Ya no podremos usar este código

datetime.datetime.now()

In [ ]:
# Al diferencia de time, para inicializar un objeto datetime necesitamos año, mes y dia

datetime(year = 2022, month = 1, day = 31)

In [ ]:
# Y podemos agregar los parametros de tiempo

datetime(year = 2022, month = 1, day = 31, hour = 11, minute = 10, second = 50)

### ``datetime`` y ``timestamp``

**Timestamp es una secuencia de caracteres que denotan la fecha y hora**. Es muy común encontrar bases de datos que manejan esta marca temporal, utilizando el formato Tiempo Unix.

Con la libreria **``datetime``** podemos:
- Convertir un objeto **``datetime`` a ``timestamp``** con el métodod **``.timestamp()``** .
- Convertir un **``timestamp`` a ``datetime``** con el método constructor **``datetime.fromtimestamp()``**.

In [ ]:
now = datetime.now()

print(now)

In [ ]:
# De datetime a timestamp

timestamp = datetime.timestamp(now)
print(timestamp)

In [ ]:
# De timestamp a datetime

objeto_datetime = datetime.fromtimestamp(timestamp)

print(objeto_datetime)

### Resta de fechas

Para restar fechas podemos usar los objetos **``date``** y **``datetime``** de la libreria **``datetime``**.

Estas operaciones nos retorna un objeto de tipo **``timedelta``**.

In [ ]:
from datetime import date, datetime

In [ ]:
t1 = date(year = 2022, month = 7, day = 10)
t2 = date(year = 2021, month = 6, day = 11)

t3 = t1 - t2

print(t3)

print(type(t3))

In [ ]:
t3

In [ ]:
t4 = datetime(year = 2019, month = 12, day = 15, hour = 21, minute = 12, second = 41)
t5 = datetime(year = 2020, month = 9, day = 6, hour = 4, minute = 54, second = 12)

t6 = t5 - t4

print(t6)

print(type(t6))

In [ ]:
t6

### Operaciones con ``timedelta``

Un objeto **``timedelta``** puede ser sumado por otro objecto **``timedelta``** y/o multiplicado y dividido por un entero o flotante.

In [ ]:
from datetime import timedelta

In [ ]:
t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 35)
t2 = timedelta(days = 6, hours = 11, minutes = 5, seconds = 43)

t3 = t1 - t2

t4 = t1 + t2

t5 = t1 * 2.5

t6 = t1 / 2

In [ ]:
print("Resta:",t3)

print("Suma:", t4)

print("Multiplicando por un numero:", t5)

print("Dividiendo por un numero:", t6)

In [ ]:
################################################################################################################################